<h1>Teacher Dashboard</h1>

<h2>My Labs</h2> <button>Create New Lab +</button>
<div id="teacher-dashboard-lab-list">
  <%=  %>
  <table>
     <thead>
        <th>Lab ID</th>
        <th>Lab Title</th>
        <th>Likes</th>
        <th>View</th>
     </thead>
    <tbody>
        <tr>
          <td><%= %></td>
          <td><%= %></td>
          <td><%= %></td>
          <td><button>View</button></td>
        </tr>
    </tbody>
  </table>
  <%=  %>
</div>
